.col-md-6 {
  margin-bottom: 100px;
  background-color: rgba(39, 36, 36, 0.562);
}

.trar {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}
