.table {
  color: rgb(221, 144, 2);
  margin: auto;
  background-color: rgba(0, 0, 0, 0.377);
  margin-bottom: 100px;
}
.ta {
  color: rgb(49, 4, 250);
  margin-bottom: 50px;
}
.translate:hover {
  transform: translate(20px, 30px);
}

.figure {
  margin-top: 200px;
  margin-bottom: 150px;
}
